<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Full Suite">
  
  <!-- Login tests only 
  <test name="Login Tests">
    <classes>
      <class name="cucumberOptions.LoginRunner"/>
    </classes>
  </test>  -->
  
  <!-- Add Employee tests only 
  <test name="Add Employee Tests">
    <classes>
      <class name="cucumberOptions.AddEmployeeRunner"/>
    </classes>
  </test> -->
  
   <!-- Search Employee tests only -->
  <test name="Search Employee Tests">
    <classes>
      <class name="runners.SearchEmployeeRunner"/>
    </classes>
  </test>

</suite>
